@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins','Roboto', sans-serif;
    background: #f5f5f5;
    text-align: center;
    overflow: hidden;
}

/* Loader */
#myBarBack{
    width: 300px;
    height: 18px;
    background: #666666;
    margin: auto;
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}
#loadText{
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin-left: 5px;
    text-align: center;
    z-index: 3;
    position: absolute;
    font-weight: 600;
}
#myBar{
    background: #00ff00;
}

/* Nivel Btns */
.nivel{
    cursor: pointer;
    background-color: antiquewhite;
    width: fit-content;
    margin: 10px auto;
    padding: 2px 5px;
    border-radius: 5px;

    transition: all 0.3s ease;
}
.nivel:hover{
    background-color: #f5f5f5;

}
.nivel-btn{
    background: transparent;
    border: none;
    cursor: pointer;
}
.btnControl {
    display: none;
}

/* Table Stuff */
#table-container{
    margin-top: 5px;
}
#table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    height: fit-content;

}

.card-container{
    cursor: pointer;

    width: 100px;
    height: 100px;

    list-style: none;
}
.card{
    width: 100%;
    height: 100%;
    position: relative;

    transition: all 0.8s ease;
    transform-style: preserve-3d;
    
}
.card:hover{
    transform: scale(1.05);
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
    transition: all 0.8s ease;
    z-index: 1;
}
.back{
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
}

.cardBack, .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    border-radius: 8px;
}

.matched{
    opacity: 0;
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    text-align: center;
    font-size: 12px;
    color: #666666;
}

@media screen and (max-width: 600px){
    main{
        transform: scale(0.9);
    }
    .card-container{
        margin: 10px 1px;
        
    }
    
}

@media screen and (max-width: 400px){
    .card-container{
        margin: 20px 0px;
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 320px){
    .card-container{
        margin: 14px 2px;
        width: 75px;
        height: 75px;
    }
}
